body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex; /* ✅ */
  flex-direction: column; flex; /* ✅ */
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  display: flex; flex; /* ✅ */
  align-items: center; flex; /* ✅ */
  font-size: 32px; flex; /* ✅ */
  font-weight: 900; flex; /* ✅ */
  padding-left: 16px; flex; /* ✅ "padding: 0 16px" to be accurate*/
}

.middle {
  flex: 1; /* To grow and take the middle space */ /* ✅ */
  display: flex; /* To separate the two contents*/ /* ✅ */
}

.sidebar {
  width: 300px;
  background: royalblue;
  flex-shrink: 0; /* ✅ */
  font-size: 24px; /* 🚧 shift this to <a> tag */
  padding: 16px; /* ✅ */ 
}

ul {
  list-style-type: none; /* ✅ */
  /* Missing:
  "margin: 0;"
  "padding: 0;"
  */
}

a {
  text-decoration: none; /* ✅ */
  color: white; /* ✅ */
  /* shift "font-size: 24px" here from .sidebar */
}

.card-container {
  display: flex; /* ✅ */
  padding: 32px; /* ✅ */
  flex-wrap: wrap; /* ✅ */
  gap: 24px; /* Not in solution, but ok */
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  width: 280px; /* ✅ 300px to be accurate*/
  height: 200px; /* Not in solution. Explains why there are gaps between each card. But looks ugly (IMO) if you remove the height restrictions haha. */
  padding: 16px; /* ✅ */
}

.footer {
  display: flex; /* ✅ */
  height: 72px;
  background: #eee;
  color: darkmagenta;
  justify-content: center; /* ✅ */
  align-items: center; /* ✅ */
}